.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightblue;
  border: none;
  padding: 10px 20px;
  color: black;
}

ol li{
  list-style-type: square;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,h2, p{
  text-align: center;
}
span{
  font-weight: lighter;
}